<!-- Theme: defines all colour CSS variables. Swap this file on the personal site. -->
<link rel="stylesheet" href="{{ '/assets/css/theme-lab.css' | relative_url }}">

<!-- LION Lab custom styles -->
<link rel="stylesheet" href="{{ '/assets/css/lion-navbar.css' | relative_url }}">
<link rel="icon" type="image/png" sizes="256x256" href="{{ '/assets/img/favicons/lionlablogo-icon-orange-transparent-256x256.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicons/lionlablogo-icon-white-180x180.png' | relative_url }}">